/* general style */
html {
    scroll-behavior: smooth;
}
body {
    padding: 0 50px;
    margin: 0;
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 2em;
    margin: 0.70em 0;
}
h2 {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.icon {
    color: #0065FC;
}
.scoreIcon {
    color: #0065FC;
    font-size: 12px;
}
.scoreIconGrey {
    color: #F2F2F2;
    font-size: 10px;
}
a {
    text-decoration: none;
    color: #000;
}
section {
    margin-bottom: 2rem;
}
/* !general style */


/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
}
.headerImg {
    width: 61px;
}
.headerNav {
    display: flex;
    align-items: center;
}
.headerNavLink {
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
.headerNavLink[data-active=true] {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
.headerNavLink:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
/* !header */


/* search */
.searchTitle {
    margin-bottom: 0.5rem;
    font-size: 150%;
}
.searchsubtitle {
    margin-top: 0;
}
.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.searchIcon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
::placeholder {
    color: black;
}
.searchInput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1rem;
    width: 12rem;
    font-size: 1rem;
    font-weight: bold;
}
.searchButton {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.searchButtonIcon {
    display: none;
}
.filters {
    display: flex;
    margin-top: 2rem;
}
.filtersDiv, .firstFilters, .secondFilters {
    display: flex;
}
.filterButton {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #000;
}
.filterDiv {
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin: 0 2rem 1rem 0;
}
.filterDiv:hover {
    background-color: #DEEBFF;
}
.filterIcon {
    color: #0065FC;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filterText {
    margin-right: 1.2rem;
    font-weight: bold;
}
.resultDiv {
    display: flex;
    align-items: center;
}
.resultIcon {
    color: #0065FC;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    display: flex;
    height: 1.6rem;
    width: 1.6rem;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.resultText {
    font-weight: 500;
    margin-left: 15px;
}
/* !search */


/* hosting */
.hostingSection {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.hostingDiv {
    padding: 0 40px;
    background-color: #F2F2F2;
    border-radius: 2rem;
    width: 900px;
}
.hostingDiv h2 {
    margin: 42px 2rem 1rem 0;
}
.hostingCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hostingFigure {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1rem;
    margin: 0;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #0000002e;
    height: 199px;
    width: 246px;
}
.cardsButton {
    height: 199px;
    width: 246px;
    margin-bottom: 30px;
}
.hostFigcap {
    padding: 0 0 0.8rem 0.8rem;
}
.HostingImage {
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    height: 124px;
    width: 246px;
}
.hostCardTitle {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 16px;
}
.hostCardText {
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 0;
}
/* !hosting */


/* most popular */
.mostPopularCardTitle {
    margin: 0;
}
.mpTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}
.mostPopularDiv {
    padding: 40px;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mostPopularCardsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
}
.mostPopularClassmentDiv {
    margin: 0 0 0.4rem 0;
}
.mostPopularSpace {
    flex: 1;
}
.mostPopularCardTitle {
    margin: 16px 0 0 0;
    font-size: 17px;
}
.mostPopularFigCaption {
    margin: 0 0 0 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mostPopularImageDiv {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}
.mostPopularFigure {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    height: 144px;
    width: 100%;
}
.mostPopularContent {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}
.mostPopularImage {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    object-fit: cover;
    width: 137px;
    height: 144px;
}
.mostPopularCardText {
    margin-top: 7px;
}
/* !most popular */


/* activity */
.activitySection {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 60px;
}
.activityDiv {
    display: flex;
    justify-content: space-between;
}
.activityFigure {
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    height: 95%;
    margin: 1.5rem 1.5rem 1.5rem 0;
    background-color: #fff;
    box-shadow: 0 0 20px #0000002e;
} 
.activityButton {
    width: 302px;
    height: 444px;
}
.activityFigCaption {
    margin: 1.2rem 1.5rem;
}
.activityImage {
    border-radius: 1rem 1rem 0 0;
    height: 358px;
    object-fit: cover;
    width: 100%;
}
.activityCardTitle {
    font-size: 17px;
}
/* !activity */


/* footer */
footer {
    background-color: #F2F2F2;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.footerDiv {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2rem 4rem;
}
.footerLink {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin: 0.4rem 0;
}
/* !footer */


/* version tablettes */
@media screen and (min-width : 768px) and (max-width: 991px) {
    /* header */
    body {
        padding: 0 72px;
        margin: 0;
    }
    .headerNavLink {
        font-weight: 400;
    }
    .headerImg {
        width: 61px;
    }
    /* !header */


    /* search */
    .searchTitle {
        font-size: 22px;
        margin-bottom: 0;
    }
    .searchSubtitle {
        margin-top: 13px;
        margin-bottom: 0;
    }
    .searchForm {
        margin-top: 20px;
    }
    .firstFilters, .secondFilters {
        display: flex;
    }
    .filters h2 {
        margin-right: 17px;
        margin-bottom: 0;
    }
    .filterDiv {
        margin: 0;
        margin-right: 20px;
    }
    .filterText {
        font-size: 17px;
    }
    .filterIcon {
        margin-right: 15px;
        margin-left: 15px;
        width: 10px;
    }
    .resultIcon {
        font-size: 11px;
    }
    /* !search */


    /* hosting */
    .hostingSection {
        flex-direction: column;
    }
    .hostingFigure {
        margin-right: 0.5rem;
    }
    .hostFigcap {
        padding: 0 0 0.8rem 0.2rem;
    }
    .hostCardTitle {
        margin: 0;
        margin-top: 4px;
        font-size: 16px;
    }
    .hostCardText {
        margin: 0;
        margin-top: 9px;
        font-size: 14px;
    }
    .HostFinalTitle {
        margin-top: 1rem;
    }
    .hostingDiv {
        margin-bottom: 53px;
    }
    .hostScore {
        margin: 0;
        margin-top: 9px;
    }
    /* !hosting */


    /* most popular */
    .mpTitle {
        font-size: 22px;
        margin-bottom: 26px;
    }
    .icon {
        font-size: 18px;
    }
    .mostPopularDiv {
        margin-left: 0;
        padding-top: 34px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 48px;
    }
    .mostPopularCardsDiv {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .mostPopularFigure {
        margin: 0;
        height: 144px;
        width: 252px;
    }
    .mostPopularImage {
        width: 106px;
        height: 144px;
    }
    .mostPopularFigCaption {
        margin-left: 116px;
    }
    .middleCard {
        margin: 0 23px;
    }
    .mostPopularCardTitle {
        margin-top: 8px;
        font-weight: 700;
        font-size: 14px;
    }
    .middleCardTitle {
        font-size: 16px;
    }
    .mostPopularCardText {
        font-size: 13px;
        font-weight: 400;
        margin: 8px 0 0 0;
    }
    .mostPopularImageDiv {
        min-width: 44%;
        max-width: 44%;
    }
    .scoreIcon{
        font-size: 12px;
        color: #0065FC;
        width: 11px;
    }
    .scoreIconGrey{
        font-size: 12px;
        color: #F2F2F2;
        width: 11px;
    }
    /* !most popular */
    

    /* activity */
    .activitySection {
        margin-top: 70px;
    }
    .activitySection h2 {
        font-size: 22px;
        margin-bottom: 24px;
    }
    .activityFigure {
        margin: 1.5rem 50px 1.5rem 0;
    }
    .activityImage {
        height: 211px;
    }
    .activityCardTitle {
        font-size: 16px;
    }
    /* !activity */


    /* footer */
    .footerTitle {
        font-size: 18px;
        font-weight: 700;
    }
    .footerLink {
        font-size: 16px;
        font-weight: 400;
    }
    .footerDiv {
        padding: 2rem 2rem;
    }
    /* !footer */
}


/* version mobiles */
@media screen and (max-width:767px) {

    /* header */
    body {
        padding: 0;
        margin: 0;
    }
    .header {
        flex-direction: column;
    }
    .headerNav {
        width: 100%;
    }
    .headerImg {
        width: 61.09px;
        margin-top: 21px;
        margin-bottom: 20px;
    }
    .headerNavLink {
        border-top: none;
        font-weight: 500;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    .headerNavLink[data-active=true] {
        border-bottom-color: #0065FC;
        border-top: none;
    }
    .headerNavLink:hover {
        border-bottom-color: #0065FC;
        border-top: none;
    }
    /* !header */


    /* search */
    .firstSection, .activitySection {
        margin: 0 20px;
    }
    .searchTitle {
        margin: 31px 0 0 0;
        font-size: 22px;
    }
    .searchSubtitle {
        margin-top: 13px;
        margin-bottom: 36px;
    }
    .searchButtonText {
        display: none;
    }
    .searchInput {
        font-size: 18px;
    }
    .searchButton {
        width: 50px;
        padding: 0;
    }
    .searchButtonIcon {
        display: contents;
    }
    .filters h2 {
        font-size: 18px;
    }
    .filters {
        flex-direction: column;
    }
    .filterDiv {
        width: 160px;
        height: 50px;
        margin-right: 14px;
        margin-bottom: 17px;
    }
    .filterText {
        font-size: 12px;
        margin-left: 14px;
    }
    .filterIcon {
        height: 0;
        width: 0;
        margin-left: 20px;
    }
    .filterButton {
        justify-content: flex-start;
    }
    .filtersDiv {
        display: flex;
        flex-direction: column;
    }
    .firstFilters, .secondFilters {
        display: flex;
    }
    .resultIcon {
        min-width: 24px;
        height: 24px;
        margin-right: 11px;
    }
    .resultText {
        font-weight: 400;
        margin-left: 0;
    }
    /* !search */


    /* most popular */
    .mostPopularDiv {
        border-radius: 0;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 28px;
        padding-bottom: 0;
    }
    .mostPopularDiv h2 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .mostPopularCardsDiv {
        width: 100%;
        margin: 26px 7px 47px 7px;
    }
    .mostPopularFigure {
        height: 144px;
        margin-top: 0;
        margin-bottom: 11px;
    }
    .mostPopularImage {
        position: relative;
        width: 137px;
        height: 144px;
    }
    .mostPopularFigCaption {
        margin: 0 0 0 20px;
    }
    .mostPopularCardText {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 0;
    }
    .mostPopularCardTitle {
        margin: 11px 0 0 0;
        font-size: 17px;
    }
    .mostPopularClassmentDiv {
        margin-bottom: 7px;
    }
    .scoreIcon, .scoreIconGrey {
        font-size: 12px;
    }
    /* !most popular */


    /* hosting */
    .hostingSection {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    .hostingDiv {
        border-radius: 0;
        margin: 0;
        background-color: #FFF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 26px;
        padding-bottom: 65px;
    }
    .hostingDiv h2 {
        font-size: 22px;
        margin-bottom: 19px;
    }
    .hostingCards {
        flex-direction: column;
    }
    .hostingFigure {
        margin: 0;
        width: 96%;
        margin-bottom: 12px;
    }
    .hostFigcap {
        padding-bottom: 0;
    }
    .HostingImage {
        height: 124px;
    }
    .hostCardTitle {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 17px;
    }
    .hostCardText {
        font-size: 14px;
        margin-top: 9px;
        margin-bottom: 9px;
    }
    .hostScore {
        margin-bottom: 5px;
    }
    .HostFinalTitle a {
        display: none;
    }
    .cardsButton {
        width: 100%;
    }
    /* !hosting */
    

    /* activity */
    .activitySection h2 {
        font-size: 22px;
        width: 210px;
        margin-bottom: 5px;
    }
    .activityButton {
        width: 100%;
        height: 190px;
        margin-bottom: 24px;
    }
    .activityFigure {
        width: 100%;
        height: 190px;
        margin: 0;
    }
    .activityImage {
        height: 134px;
    }
    .activityDiv {
        flex-direction: column;
    }
    .activityCardTitle {
        font-size: 17px;
    }
    /* !activity */


    /* footer */
    footer {
        flex-direction: column;
        margin-top: 60px;
        padding-top: 12px;
        padding-bottom: 49px;
    }
    .footerDiv {
        margin-top: 28px;
        margin-left: 30px;
        padding: 0;
        width: 100%;
    }
    .footerTitle {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .footerLink {
        margin: 0;
        margin-bottom: 12px;
    }
    /* !footer */
}